
doctype html

head
  link(rel='stylesheet', href='./index.css')

body
  .Container
    .WrapParent
      .Parent.Parent--staticVisible
        .Child.Child--static
      .WrapParent-caption
        | P static visible
        br
        | C static
    .WrapParent
      .Parent.Parent--staticScroll
        .Child.Child--static
      .WrapParent-caption
        | P static scroll
        br
        | C static
    .WrapParent
      .Parent.Parent--staticAuto
        .Child.Child--static
      .WrapParent-caption
        | P static auto
        br
        | C static
    .WrapParent
      .Parent.Parent--staticHidden
        .Child.Child--static
      .WrapParent-caption
        | P static hidden
        br
        | C static

    .WrapParent
      .Parent.Parent--relativeVisible
        .Child.Child--static
      .WrapParent-caption
        | P relative visible
        br
        | C static
    .WrapParent
      .Parent.Parent--relativeScroll
        .Child.Child--static
      .WrapParent-caption
        | P relative scroll
        br
        | C static
    .WrapParent
      .Parent.Parent--relativeAuto
        .Child.Child--static
      .WrapParent-caption
        | P relative auto
        br
        | C static
    .WrapParent
      .Parent.Parent--relativeHidden
        .Child.Child--static
      .WrapParent-caption
        | P relative hidden
        br
        | C static

    .WrapParent
      .Parent.Parent--absoluteVisible
        .Child.Child--static
      .WrapParent-caption
        | P absolute visible
        br
        | C static
    .WrapParent
      .Parent.Parent--absoluteScroll
        .Child.Child--static
      .WrapParent-caption
        | P absolute scroll
        br
        | C static
    .WrapParent
      .Parent.Parent--absoluteAuto
        .Child.Child--static
      .WrapParent-caption
        | P absolute auto
        br
        | C static
    .WrapParent
      .Parent.Parent--absoluteHidden
        .Child.Child--static
      .WrapParent-caption
        | P absolute hidden
        br
        | C static
        
    .WrapParent
      .Parent.Parent--staticVisible
        .Child.Child--relative
      .WrapParent-caption
        | P static visible
        br
        | C relative
    .WrapParent
      .Parent.Parent--staticScroll
        .Child.Child--relative
      .WrapParent-caption
        | P static scroll
        br
        | C relative
    .WrapParent
      .Parent.Parent--staticAuto
        .Child.Child--relative
      .WrapParent-caption
        | P static auto
        br
        | C relative
    .WrapParent
      .Parent.Parent--staticHidden
        .Child.Child--relative
      .WrapParent-caption
        | P static hidden
        br
        | C relative

    .WrapParent
      .Parent.Parent--relativeVisible
        .Child.Child--relative
      .WrapParent-caption
        | P relative visible
        br
        | C relative
    .WrapParent
      .Parent.Parent--relativeScroll
        .Child.Child--relative
      .WrapParent-caption
        | P relative scroll
        br
        | C relative
    .WrapParent
      .Parent.Parent--relativeAuto
        .Child.Child--relative
      .WrapParent-caption
        | P relative auto
        br
        | C relative
    .WrapParent
      .Parent.Parent--relativeHidden
        .Child.Child--relative
      .WrapParent-caption
        | P relative hidden
        br
        | C relative

    .WrapParent
      .Parent.Parent--absoluteVisible
        .Child.Child--relative
      .WrapParent-caption
        | P absolute visible
        br
        | C relative
    .WrapParent
      .Parent.Parent--absoluteScroll
        .Child.Child--relative
      .WrapParent-caption
        | P absolute scroll
        br
        | C relative
    .WrapParent
      .Parent.Parent--absoluteAuto
        .Child.Child--relative
      .WrapParent-caption
        | P absolute auto
        br
        | C relative
    .WrapParent
      .Parent.Parent--absoluteHidden
        .Child.Child--relative
      .WrapParent-caption
        | P absolute hidden
        br
        | C relative

    .WrapParent
      .Parent.Parent--staticVisible
        .Child.Child--absolute
      .WrapParent-caption
        | P static visible
        br
        | C absolute
    .WrapParent
      .Parent.Parent--staticScroll
        .Child.Child--absolute
      .WrapParent-caption
        | P static scroll
        br
        | C absolute
    .WrapParent
      .Parent.Parent--staticAuto
        .Child.Child--absolute
      .WrapParent-caption
        | P static auto
        br
        | C absolute
    .WrapParent
      .Parent.Parent--staticHidden
        .Child.Child--absolute
      .WrapParent-caption
        | P static hidden
        br
        | C absolute

    .WrapParent
      .Parent.Parent--relativeVisible
        .Child.Child--absolute
      .WrapParent-caption
        | P relative visible
        br
        | C absolute
    .WrapParent
      .Parent.Parent--relativeScroll
        .Child.Child--absolute
      .WrapParent-caption
        | P relative scroll
        br
        | C absolute
    .WrapParent
      .Parent.Parent--relativeAuto
        .Child.Child--absolute
      .WrapParent-caption
        | P relative auto
        br
        | C absolute
    .WrapParent
      .Parent.Parent--relativeHidden
        .Child.Child--absolute
      .WrapParent-caption
        | P relative hidden
        br
        | C absolute

    .WrapParent
      .Parent.Parent--absoluteVisible
        .Child.Child--absolute
      .WrapParent-caption
        | P absolute visible
        br
        | C absolute
    .WrapParent
      .Parent.Parent--absoluteScroll
        .Child.Child--absolute
      .WrapParent-caption
        | P absolute scroll
        br
        | C absolute
    .WrapParent
      .Parent.Parent--absoluteAuto
        .Child.Child--absolute
      .WrapParent-caption
        | P absolute auto
        br
        | C absolute
    .WrapParent
      .Parent.Parent--absoluteHidden
        .Child.Child--absolute
      .WrapParent-caption
        | P absolute hidden
        br
        | C absolute